.btn-circle {
    width: 20px;
    height: 20px;
    padding: 3px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 8px;
    line-height: 1.42857;
}

label:first-child input[type=radio] {
    width: 25px;
    height: 25px;
}

.radius {
    border-radius: 50%;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    top: 0;
    width: 20px;

} 

.scrollerOsqi {
    overflow-y: auto;
    overflow-x: hidden;
    height: 425px;

}

.example-full-width {
    width: 100%;
}
